body{
background-color:#FFF5F7 !important;
color:red!important;
}
.nav-link {
    color:red !important;
}
.navbar{
background-color: white;
}
.navbar-brand{
color:red;
font-sty
}
h1{
        text-align: center;}
.content{
border:1px solid red;
width:200px;
height:100px;
padding:15px;
margin:auto;
margin-top:50px;
}
